.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 965px;
  margin: 0 auto;

  &__title{
    max-width: 150px;
    margin-left: 0.5rem;
  }

  &__search{
    input{
      text-align: center;
    }
    @include mobile{
      display: none;
    }
  }

  &__icons{
    font-size: 1.2rem;
    margin-right: 0.5rem;

    .bx-search{
      display: none;

      @include mobile{
        display: inline;
      }
    }
  }
}