@use "../helpers" as *;
.homeMain {
  width: 100vh;
  max-width: 935px;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  padding-top: 84px;
  overflow: hidden;
}

.feedContainer {
  float: left;
  max-width: 614px;
  width: 100%;
}

.sidebar{
  position: fixed;
  left: max(650px, (100% - 935px) / 2 + 650px);
  top: 84px;
  height: 100vh;
  width: 293px;
  margin-bottom: 30px;
  padding: 0;
}
