.header{
  width: 100%;
  border-bottom: 2px solid $borderGrey;
}

.main{
  width: 100%;
  margin-top: 1rem;
  .container-main{
    margin: 0 auto;
    max-width: 965px;

    .post-container{
      width: 100%;
      margin-top: 3rem;
    }
  }
}